# Python
__pycache__/
*.pyc
.env

# Node.js
node_modules/
dist/
.vite/
.DS_Store

# OS / Logs
*.log

.idea

backend/data/gtfs/stop_times.txt
backend/data/cache/metro_graph.pkl
backend/data/cache/metro_stats.json
backend/data/cache/temporal/global_stop_times.pkl
